<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Login</title>
		<script type="text/javascript">
			var name = 'Trevor Page'
			var age = 37
			
			console.log('Hello world! My name is ' + name + ' and I am ' + age + ' years old')
			console.log(`Hello world! My name is ${name} and I am ${age} years old`)
			
			var car
			var tesla = null
			
			console.log(`The value of 'car' is: ${car}, the data type is ${typeof car}`) // undefined
			console.log(`The value of 'tesla' is: ${tesla}, the data type is ${typeof tesla}`) 
			console.log(`The value of 'age' is: ${age}, the data type is ${typeof age}`)
			console.log(`The value of 'name' is: ${name}, the data type is ${typeof name}`)
			console.log(`What is 5 + 10 = ${5 + 10}`)
			
			var addition = 5 + 15
			console.log(`addition = ${addition}`)
			
			var person = {
				'firstName': 'Trevor',
				'lastName': 'Page',
				'age': 37,
				'address': {
					'line1': '123 Fake St',
					'line2': 'Unit 45',
					'city': 'Toronto',
					'prov': 'Ontario'
				}
			}
			console.log(`The value of 'person' is: ${person}, the data type is ${typeof person}`)
			console.log(person)
			
		</script>
	</head>
	<body>
		<h1>Login Below</h1>
		<div>
			Username: <input type="text" th:field="${user.username}"/>
		</div>
		<div>
			Password: <input type="password" th:field="${user.password}"/>
		</div>
		<div>
			<button type="button" id="submitBtn">Submit</button>
		</div>
		
		<script type="text/javascript">
			var submitBtn = document.querySelector("#submitBtn")
			console.log(`submitBtn is:`)
			console.log(submitBtn)
			
			submitBtn.addEventListener('click', submitBtnClick)
			
			// public void myMethod () {}  -- This is Java code for comparison
			function submitBtnClick () {
				alert(`Hey! I've been clicked`)
			}
		</script>
	</body>
</html>