<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Login</title>
		<script type="text/javascript">
			var name = 'Trevor Page'
			var age = 37
			
			alert('Hello world! My name is ' + name + ' and I am ' + age + ' years old')
			alert(`Hello world! My name is ${name} and I am ${age} years old`)
		</script>
	</head>
	<body>
		<h1>Login Below</h1>
		<div>
			Username: <input type="text" th:field="${user.username}"/>
		</div>
		<div>
			Password: <input type="password" th:field="${user.password}"/>
		</div>
	</body>
</html>