<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Login</title>
	</head>
	<body>
		<h1>Login Below</h1>
		<div>
			Username: <input type="text" th:field="${user.username}"/>
		</div>
		<div>
			Password: <input type="password" th:field="${user.password}"/>
		</div>
		<div>
			<button type="button" id="submitBtn">Submit</button>
		</div>
		
		<script type="text/javascript">
			var submitBtn = document.querySelector("#submitBtn")
			
			submitBtn.addEventListener('click', () => {
				var username = document.querySelector("#username")
				var password = document.querySelector("#password")
				
				if (username.value == '' || password.value == '') {
					alert("Please enter a valid username and a password")
				} else {
					console.log("Inputs look valid, proceed with form submission")
				}
			})
		</script>
	</body>
</html>