<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			<tr th:each="txn : ${transactions}">
				<td><a th:href="@{/transactions/{txnId}(txnId=${txn.id})}" th:text="${txn.id}"></a></td>
				<td th:text="${txn.date}"></td>
				<td th:text="${txn.retailer}"></td>
				<!-- boolean expression ? (return this if true) : (return this if false) -->
				<td th:text="${txn.type == 'C' ? txn.amount : '-'}"></td>
				<td th:text="${txn.type == 'C' ? '-' : txn.amount}"></td>
			</tr>
			
		</table>
	</body>
</html>