<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Welcome</title>
	</head>
	<body>
		<h1>Welcome</h1>
		
		<div th:each="storedPerson : ${people}">
			<span th:inline="text">
				Person #[[${storedPerson.id}]]: <a th:href="@{/persons/{personId}(personId=${storedPerson.id})}">[[${storedPerson.firstName}]] [[${storedPerson.lastName}]]</a>
			</span>
		</div>
		<hr/>
		<form action="" method="post">
			<input type="hidden" th:field="${person.id}"/>
			<div>
				<label>First Name: </label>
				<input type="text" th:field="${person.firstName}"/>
			</div>
			<div>
				<label>Last Name: </label>
				<input type="text" th:field="${person.lastName}"/>
			</div>
			<div>
				<a href="/persons" th:if="${person.id != null}" style="margin-right: 2em;">Back</a>
				<button>Submit</button>
			</div>
		</form>
		<form th:action="@{/persons/{personId}/delete(personId=${person.id})}" method="post" th:if="${person.id != null}">
			<button>Delete</button>
		</form>
	</body>
</html>