<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Welcome</title>
	</head>
	<body>
		<h1>Welcome</h1>
		
		<div th:each="storedPerson : ${people}">
			<span th:inline="text">
				Person #[[${storedPerson.id}]]: [[${storedPerson.firstName}]] [[${storedPerson.lastName}]]
			</span>
		</div>
		
		<form action="" method="post">
			<input type="hidden" th:field="${person.id}"/>
			<div>
				<label>First Name: </label>
				<input type="text" th:field="${person.firstName}"/>
			</div>
			<div>
				<label>Last Name: </label>
				<input type="text" th:field="${person.lastName}"/>
			</div>
			<div>
				<button>Submit</button>
			</div>
		</form>
	</body>
</html>